<!-- <h1> Lemoncode</h1> -->

<!-- <app-menu></app-menu> -->



<app-menu-private *ngIf="isLoggedIn"></app-menu-private>
<app-menu-public *ngIf="!isLoggedIn"></app-menu-public>
<div class="container">
  <mat-card>
    <router-outlet></router-outlet>
  </mat-card>
</div>

<!-- <app-user-list></app-user-list> -->
<!-- <app-custom-search (myEvent)="myEventListener()" (myEvent2)="myEvent2Listener()"></app-custom-search>
<app-custom-search ph="Buscar..." (myEvent)="myEventListener()" (myEvent2)="myEvent2Listener()"></app-custom-search> -->
